name: Build and Push Docker Images

on:
  workflow_dispatch:
  push:
    branches:
      - development
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to GitHub Container Registry (ghcr.io)
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v4
        with:
          context: FeedCord
          push: true
          dockerfile: Dockerfile
          tags: ghcr.io/kamdzy/feedcord:beta
          platforms: linux/amd64,linux/arm64
